.grid-principal {
    display: grid;
    width: 100%;
    max-width: 1440px;
    grid-template-columns:30% 70% ;
    grid-template-rows: 100%; 
    border: 0.5rem solid #B71C1C;
    font-size: 1.7rem; 
    background-color: #B71C1C;
}

.grid-menu {
    background-color: aqua;
    /* height: 50rem; */
}

.grid-pagina {
    background-color: burlywood;
    /* height: 50rem; */
}

/* body {
    height: 100%;
} */