.slider {
    margin: 1rem auto;
    width: 100%;
    max-width: 1440px;
}

.carousel {
    text-align: center;
}

.principal {
    margin: 1rem auto;
    /* height: 28.5rem;  */
    width: 98%;
    max-width: 1440px;
    /* padding: 0 2rem 0 2rem;  */
    border: 0.4rem solid #B71C1C;
    border-radius: 2rem;
    /* overflow: hidden; */
    display: flex;
  }
  
  .imagemLocal {
    width: 50%;
    border-radius: 2rem;
    margin: 1rem;
  }
  
  .principal p {
    font-size: 2rem;
    margin: 1rem;
  }